@charset "utf-8";


/* 괴담 폰트 모음*/

/* HS봄바람체3.0 */
@font-face {
font-family: "HSBombaram30R";
src: url('../ft-box/3gdam/HSBombaram30R.woff2') format('woff2'); }

/* IBM Plex Sans 300 */
@font-face {
font-family: "IBMPlexSansKR300";
font-weight: 300;
font-style: normal;
src: url('../ft-box/3gdam/IBMPlexSansKR300.woff2') format('woff2'); }

/* IBM Plex Sans 400 */
@font-face {
font-family: "IBMPlexSansKR400";
font-weight: 400;
font-style: normal;
src: url('../ft-box/3gdam/IBMPlexSansKR400.woff2') format('woff2'); }

/* IBM Plex Sans 500 */
@font-face {
font-family: "IBMPlexSansKR500";
font-weight: 500;
font-style: normal;
src: url('../ft-box/3gdam/IBMPlexSansKR500.woff2') format('woff2'); }

/* KCC안창호체 */
@font-face {
font-family: "KCCAhnchangho";
src: url('../ft-box/3gdam/KCCAhnchangho.woff2') format('woff2'); }

/* KCC임권택체 */
@font-face {
font-family: "KCCImkwontaek";
src: url('../ft-box/3gdam/KCCImkwontaek.woff2') format('woff2'); }

/* KCC손기정체 */
@font-face {
font-family: "KCCSonkeechung";
src: url('../ft-box/3gdam/KCCSonkeechung.woff2') format('woff2'); }

/* MBC1961 */
@font-face {
font-family: "MBC1961M";
src: url('../ft-box/3gdam/MBC1961M.woff2') format('woff2'); }

/* 가나초콜릿체 */
@font-face {
font-family: "Ghanachocolate";
src: url('../ft-box/3gdam/Ghanachocolate.woff2') format('woff2'); }

/* 가비아 고스란체 */
@font-face {
font-family: "GabiaGosranR";
src: url('../ft-box/3gdam/GabiaGosranR.woff2') format('woff2'); }

/* 가비아 마음결체 */
@font-face {
font-family: "GabiaMaeumgyeol";
src: url('../ft-box/3gdam/GabiaMaeumgyeol.woff2') format('woff2'); }

/* 가비아 청연체 */
@font-face {
font-family: "GabiaCheongyeon";
src: url('../ft-box/3gdam/GabiaCheongyeon.woff2') format('woff2'); }

/* 고운돋움 */
@font-face {
font-family: "GowunDodumR";
src: url('../ft-box/3gdam/GowunDodumR.woff2') format('woff2'); }

/* 고운바탕 */
@font-face {
font-family: "GowunBatangR";
src: url('../ft-box/3gdam/GowunBatangR.woff2') format('woff2'); }

/* 경기천년바탕체 */
@font-face {
font-family: "GyeonggibatangR";
src: url('../ft-box/3gdam/GyeonggibatangR.woff2') format('woff2'); }

/* 교보손글씨 2022 김혜남 */
@font-face {
font-family: "Kyobo2024Kimhyenam";
src: url('../ft-box/3gdam/Kyobo2024Kimhyenam.woff2') format('woff2'); }

/* 김정철 손글씨 */
@font-face {
font-family: "KimjungchulScriptR";
src: url('../ft-box/3gdam/KimjungchulScriptR.woff2') format('woff2'); }

/* 나눔명조 */
@font-face {
font-family: "NanumMyeongjo";
src: url('../ft-box/3gdam/NanumMyeongjo.woff2') format('woff2'); }

/* 나눔손글씨 갈맷글 */
@font-face {
font-family: "NanumGalmaetgeul";
src: url('../ft-box/3gdam/NanumGalmaetgeul.woff2') format('woff2'); }

/* 덕온공주옛체 */
@font-face {
font-family: "DeogonPrincess";
src: url('../ft-box/3gdam/DeogonPrincess.woff2') format('woff2'); }

/* 더잠실체 */
@font-face {
font-family: "TheJamsil4M";
src: url('../ft-box/3gdam/TheJamsil4M.woff2') format('woff2'); }

/* 땅스부대찌개 */
@font-face {
font-family: "ThangBudaejjigaeM";
src: url('../ft-box/3gdam/ThangBudaejjigaeM.woff2') format('woff2'); }

/* 둥근모꼴 픽셀체 */
@font-face {
font-family: "DungGeunMo";
src: url('../ft-box/3gdam/DungGeunMo.woff2') format('woff2'); }

/* 마포 배낭여행 */
@font-face {
font-family: "MapoBackpacking";
src: url('../ft-box/3gdam/MapoBackpacking.woff2') format('woff2'); }

/* 마초체 */
@font-face {
font-family: "Macho";
src: url('../ft-box/3gdam/Macho.woff2') format('woff2'); }

/* 만년설체 */
@font-face {
font-family: "Mannyeonseol";
src: url('../ft-box/3gdam/Mannyeonseol.woff2') format('woff2'); }

/* 박물관문화재단클래식 */
@font-face {
font-family: "GungnipClassicM";
src: url('../ft-box/3gdam/GungnipClassicM.woff2') format('woff2'); }

/* 배달의민족 꾸불림체 */
@font-face {
font-family: "BMKkubulimR";
src: url('../ft-box/3gdam/BMKkubulimR.woff2') format('woff2'); }

/* 산하엽 */
@font-face {
font-family: "Sanhayeop";
src: url('../ft-box/3gdam/Sanhayeop.woff2') format('woff2'); }

/* 솔뫼 김대건체 */
@font-face {
font-family: "SolmoeKimdaegeonM";
src: url('../ft-box/3gdam/SolmoeKimdaegeonM.woff2') format('woff2'); }

/* 순바탕체L */
@font-face {
font-family: "SunBatangL";
src: url('../ft-box/3gdam/SunBatangL.woff2') format('woff2'); }

/* 순바탕체M */
@font-face {
font-family: "SunBatangM";
src: url('../ft-box/3gdam/SunBatangM.woff2') format('woff2'); }

/* 스위트 */
@font-face {
font-family: "SuiteR";
src: url('../ft-box/3gdam/SuiteR.woff2') format('woff2'); }

/* 인천교육시민체 */
@font-face {
font-family: "IncheonGyoyuksimin";
src: url('../ft-box/3gdam/IncheonGyoyuksimin.woff2') format('woff2'); }

/* 정선아리랑체 */
@font-face {
font-family: "JeongseonArirang";
src: url('../ft-box/3gdam/JeongseonArirang.woff2') format('woff2'); }

/* 전주완판본 각체 */
@font-face {
font-family: "JeonjuWanpanbonR";
src: url('../ft-box/3gdam/JeonjuWanpanbonR.woff2') format('woff2'); }

/* 조선100년체 */
@font-face {
font-family: "Joseon100Nyeon";
src: url('../ft-box/3gdam/Joseon100Nyeon.woff2') format('woff2'); }

/* 조선견고딕 */
@font-face {
font-family: "ChosunGyeon";
src: url('../ft-box/3gdam/ChosunGyeon.woff2') format('woff2'); }

/* 조선궁서체 */
@font-face {
font-family: "JoseonGungseo";
src: url('../ft-box/3gdam/JoseonGungseo.woff2') format('woff2'); }

/* 조선신명조체 */
@font-face {
font-family: "JoseonSinmyeongjo";
src: url('../ft-box/3gdam/JoseonSinmyeongjo.woff2') format('woff2'); }

/* 충주김생체 */
@font-face {
font-family: "ChungjuKimSaeng";
src: url('../ft-box/3gdam/ChungjuKimSaeng.woff2') format('woff2'); }

/* 평창체 */
@font-face {
font-family: "PyeongchangB";
src: url('../ft-box/3gdam/PyeongchangB.woff2') format('woff2'); }

/* 프리젠테이션 200 */
@font-face {
font-family: "Freesentation200";
font-weight: 200;
font-style: normal;
src: url('../ft-box/3gdam/Freesentation200.woff2') format('woff2'); }

/* 프리텐다드 고딕 300 */
@font-face {
font-family: "Pretendard300";
font-weight: 300;
font-style: normal;
src: url('../ft-box/3gdam/Pretendard300.woff2') format('woff2'); }

/* 프리텐다드 고딕 400 */
@font-face {
font-family: "Pretendard400";
font-weight: 400;
font-style: normal;
src: url('../ft-box/3gdam/Pretendard400.woff2') format('woff2'); }

/* 프리텐다드 고딕 500 */
@font-face {
font-family: "Pretendard500";
font-weight: 500;
font-style: normal;
src: url('../ft-box/3gdam/Pretendard500.woff2') format('woff2'); }

/* 태나다체 */
@font-face {
font-family: "Tenada";
src: url('../ft-box/3gdam/Tenada.woff2') format('woff2'); }

/* 학교안심 별빛하늘 */
@font-face {
font-family: "HakgyoansimByeolB";
src: url('../ft-box/3gdam/HakgyoansimByeolB.woff2') format('woff2'); }

/* 학교안심 둥근미소 */
@font-face {
font-family: "HakgyoansimDungR";
src: url('../ft-box/3gdam/HakgyoansimDungR.woff2') format('woff2'); }

/* 한글재민체 */
@font-face {
font-family: "HangeulJaemin";
src: url('../ft-box/3gdam/HangeulJaemin.woff2') format('woff2'); }
